<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>地图各种效果</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="lib/fengmap.core.min.js"></script>
  <script src="lib/fengmap.control.min.js"></script>
  <script src="lib/fengmap.render.min.js"></script>
</head>

<body>
<!-- 加载地图容器 -->
<div id="map" style="width: 100%;height: 100%"></div>
<button onclick="move2Point()" style="position: absolute;top:0">去A座</button>

<a href="3.html" style="position: absolute;top:40px"><button onclick="changeMap()" >进入建筑</button></a>

<script>


  const fmapID = '1392310239968215041';
  const map = new fengmap.FMMap({
    container : document.getElementById("map"), //设置显示地图容器
    appName:'挪码地图测试',           //开发者申请应用名称
    key:'31afa791cbd45f171dc6af9a6c5a8ba2',  //开发者申请应用下web服务的key
    defaultVisibleGroups:[1],           //设置初始显示楼层，数组格式，可单个，可多个
    defaultFocusGroup: 1               //初始聚焦楼层
  });
  map.openMapById(fmapID);//mapId

  map.on('loadComplete', () => {
    map.mapScaleLevel = 19;
    map.setMapScaleLevelRange(1,29);

    let fmSkyEffect = new fengmap.FMSkyEffect(map)
    fmSkyEffect.enable(true)
    fmSkyEffect.setTime(22);
    fmSkyEffect.setAttribute({
      scale:2000,
      turbidity:10,
      rayleigh:0.2,
      luminance:1
    })
  });




  const move2Point = ()=>
  {
    const pnt = {
      x:11585080.61931919,
      y:3555795.1228592014,
      groupID:1,
      callback:function(){
        alert("到A座了");
      }
    };
    map.moveTo(pnt);
  }

</script>
</body>

</html>
