<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>专题图示例</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- 加载地图容器 -->
    <div id="fengMap"></div>

    <!--按钮-->
    <div id="lableGroups" class="lableGroups"></div>

    <!-- 引入fengmap -->
    <script src="lib/fengmap.core.min.js"></script>
    <script src="js/data.js"></script>
    <script>
        //获取版本号,设置title
        document.title = '专题图示例V' + fengmap.VERSION;

        //定义全局map变量
        var map = null;
        //定义地图ID变量
        var fmapID = '1321274646113083394';
        //搜索分析类
        var searchAnalyser = null;

        window.onload = function () {
            //加载地图
            openMap();
            //创建图例Dom
            createThemesDiv();
        };

        /**
         * 打开地图
         * */
        function openMap() {
            /**
             * 初始化参数，默认使用在线数据，从蜂鸟视图数据服务器加载模型数据
             * https://developer.fengmap.com/docs/js/v2.7.1/fengmap.FMMap.html
             **/
            var mapOptions = {
                //必要，地图容器
                container: document.getElementById('fengMap'),
                //地图数据位置
                mapServerURL: './data/' + fmapID,
                //默认主题名称
                defaultThemeName: '3b91d03288204d02368dd4f68fc1f189',
                //默认聚焦楼层
                defaultFocusGroup: 2,
                //初始显示楼层ID数组
                defaultVisibleGroups: [2],
                //主题数据位置
                mapThemeURL: './data/theme',
                //必要，地图应用名称，通过蜂鸟云后台创建
                appName: '请输入您的appName',
                //必要，地图应用密钥，通过蜂鸟云后台获取
                key: '请输入您的KEY'
            };

            //初始化地图对象
            map = new fengmap.FMMap(mapOptions);

            //打开Fengmap服务器的地图数据和主题
            map.openMapById(fmapID, function (error) {
                //打印错误信息
                console.log(error);
            });

            //地图加载完成事件
            map.on('loadComplete', function () {

                //创建搜索分析类
                searchAnalyser = new fengmap.FMSearchAnalyser(map);

                //根据类型渲染模型颜色
                setModelColorByType();

                //显示按钮
                document.getElementById('lableGroups').style.display = 'block';
            });
        }

        /**
         * 创建例图DOM
         * */
        function createThemesDiv() {
            //渲染页面元素
            var labelHtml = '';
            for (var i = 0, ilen = themesData.length; i < ilen; i++) {
                var item = themesData[i];
                labelHtml += '<label style="background-color:' + item.color + '">' + item.name + '</label>';
            }
            document.getElementById('lableGroups').innerHTML = labelHtml;
        }

        /**
         * 根据类型渲染模型颜色
         * */
        function setModelColorByType() {

            //搜索结果集
            var sortRes = [];
            //查询实体对象
            var request = new fengmap.FMSearchRequest();
            request.groupID = map.focusGroupID;
            //设置查询地图元素类型
            request.nodeType = fengmap.FMNodeType.MODEL;
            //根据条件搜索地图数据
            sortRes = searchAnalyser.getQueryResult(request, ['SINGLE']);
            //渲染模型颜色
            if (sortRes.length > 0) {
                for (var i = 0; i < sortRes.length; i++) {
                    //根据typeID 查询例图颜色
                    var item = sortRes[i];
                    var model = item.target;
                    var color_ = getColorByTypeID(model.typeID);
                    //修改颜色
                    model.setColor(color_);
                }
            }
        }

        /**
         * 根据typeID获取颜色值
         * */
        function getColorByTypeID(typeID) {
            var color = '#4b6cf9';
            //遍历主题数据，获取对应图例颜色
            for (var i = 0; i < themesData.length; i++) {
                var item = themesData[i];
				if((typeof item.typeID) === 'number'){
					if (item.typeID === typeID) {
						color = item.color;
					}
				} else if((typeof item.typeID) === 'object') {
					for(var j = 0; j < item.typeID.length; j++){
						if (item.typeID[j] === typeID) {
							color = item.color;
						}
					}
				}
            }
            return color;
        }
    </script>
</body>

</html>